<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CHOA Tennis | My Reservations </title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
    <style>
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>
    <link rel="shortcut icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGYVt2beTT20Fgcfm-J_gWqb_cNE9gdRqYJg&usqp=CAU">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background:rgb(242, 238, 233);">
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/home"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGYVt2beTT20Fgcfm-J_gWqb_cNE9gdRqYJg&usqp=CAU"
            height="30px" width="30px"></a>
    <a class="navbar-brand" href="/home">Commonwealth HOA</a>


    <div>
        <button style="margin:5px; background:rgb(255,255,255);" th:if="${(loginstatus == 'false')}">
            <img style="width: 30px;height: 30px;" src="https://png.pngtree.com/png-vector/20191110/ourmid/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg">
            <a style="color:rgb(0,0,0);" href="/signin">Sign In </a>
        </button>
    </div>

    <div>
        <button style="margin:5px; background:rgb(255,255,255);" th:if="${!(loginstatus == 'false')}">
            <img style="width: 30px;height: 30px;" src="https://png.pngtree.com/png-vector/20191110/ourmid/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg">
            <a style="color:rgb(0,0,0);" href="/logout">Log Out</a>
        </button>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Help</button>
        <div class="dropdown-content">
            <a href="/help.html">Help</a>
            <a href="/courtrules">Rules</a>
            <a href="/courtfaqs">FAQ</a>
        </div>
    </div>

    <div>
        <button style="margin:5px; background:rgb(255,255,255);" th:if="${!(loginstatus == 'false')}">
            <a style="color:rgb(0,0,0);" href="/addreservation">Add Reservation</a>
        </button>
    </div>

    <div>
        <button style="margin:5px; background:rgb(255,255,255);" th:if="${!(loginstatus == 'false')}">
            <a style="color:rgb(0,0,0);" href="/myreservations">My Reservations</a>
        </button>
    </div>

    <div class="dropdown" th:if="${(isadmin == 'true')}">
        <button class="dropbtn" th:if="${(isadmin == 'true')}">Settings</button>
        <div class="dropdown-content" th:if="${(isadmin == 'true')}">
            <a href="/sitesetup" th:if="${(isadmin == 'true')}">Site Setup</a>
            <a href="/courttimings" th:if="${(isadmin == 'true')}">Court Timings</a>
            <a href="/addfaq" th:if="${(isadmin == 'true')}">FAQs</a>
            <a href="/addrule" th:if="${(isadmin == 'true')}">Court Rules</a>
        </div>
    </div>

    <div class="dropdown" th:if="${(isadmin == 'true')}">
        <button class="dropbtn" th:if="${(isadmin == 'true')}">Tools</button>
        <div class="dropdown-content" th:if="${(isadmin == 'true')}">
            <a href="/blockclear" th:if="${(isadmin == 'true')}">Block Clear</a>
            <a href="/news" th:if="${(isadmin == 'true')}">News/Notices</a>
            <a href="/export" th:if="${(isadmin == 'true')}">Export Data</a>
            <a  href="/userlist" th:if="${(isadmin == 'true')}">User List</a>
        </div>
    </div>


    <div>
        <button th:if="${(isadmin == 'true')}" style="margin:5px; background:rgb(255,255,255);">
            <a style="color:rgb(0,0,0);" href="/reports">Reports</a>
        </button>
    </div>

</nav>


<div class="container" style="margin-top:20px;">
    <h5 style="margin-top:10px;">My Reservations:</h5>
    <table style="margin-top:20px; border: 2px solid rgb(69,64,64);">
        <tr style="border: 2px solid rgb(69,64,64); margin-top: 5px; margin-bottom: 5px; margin-left: 5px; margin-right:5px;">
        <th style="border: 2px solid rgb(69,64,64); margin-top: 5px; margin-bottom: 5px; margin-left: 5px; margin-right:5px;">Reservation ID</th>
            <th style="border: 2px solid rgb(69,64,64); margin-top: 5px; margin-bottom: 5px; margin-left: 5px; margin-right:5px;">Date</th>
            <th style="border: 2px solid rgb(69,64,64); margin-top: 5px; margin-bottom: 5px; margin-left: 5px; margin-right:5px;">Time</th>
            <th style="border: 2px solid rgb(69,64,64); margin-top: 5px; margin-bottom: 5px; margin-left: 5px; margin-right:5px;">Location</th>
            <th style="border: 2px solid rgb(69,64,64); margin-top: 5px; margin-bottom: 5px; margin-left: 5px; margin-right:5px;">Cancel</th>

        </tr>

     <tr th:each="res: ${res}" style="border: 2px solid rgb(69,64,64); margin-top: 5px; margin-bottom: 5px; margin-left: 5px; margin-right:5px;">
            <td th:text="${res.resid}" style="border: 2px solid rgb(69,64,64); margin-top: 5px; margin-bottom: 5px; margin-left: 5px; margin-right:5px;"></td>
            <td th:text="${res.date}" style="border: 2px solid rgb(69,64,64); margin-top: 5px; margin-bottom: 5px; margin-left: 5px; margin-right:5px;"></td>

            <td th:text="${res.time}" style="border: 2px solid rgb(69,64,64); margin-top: 5px; margin-bottom: 5px; margin-left: 5px; margin-right:5px;"></td>
            <td th:text="${res.location}" style="border: 2px solid rgb(69,64,64); margin-top: 5px; margin-bottom: 5px; margin-left: 5px; margin-right:5px;"></td>

            <td style="border: 2px solid rgb(69,64,64); margin-top: 5px; margin-bottom: 5px; margin-left: 5px; margin-right:5px;">
                <form th:action="@{/deleteres}" th:object="${ResDeleteForm}" method="post">

                    <button type="submit" th:value="${res.resid}"  name="resid" style="height: 100%; width: 100%;" ></button>
                </form>
            </td>


        </tr>


    </table>
</div>


</body>
</html>